* {
    margin: 0;
    font-family: sans-serif;
}

.container {
    width: 90%;
    margin: auto;
}

.clear-fix {
    clear: both;
}

p {
    color: rgb(51, 51, 51);
}

/* Home Section */

#home .nav {
    background-color: #F5F3FF;
    border-bottom: 1px solid #FFFFFF;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    width: 100%;
    padding: 15px 0;
}

#home .nav .logo {
    float: left;
}

#home .nav .logo .logo-img {
    padding: 7px;
    background-color: #8e51ff;
    border-radius: 10px;
    width: 25px;
    height: 25px;
    float: left;
    margin-top: 1px;
}

#home .nav .logo img {
    width: 100%;
}

#home .nav .logo h1 {
    font-size: 24px;
    font-weight: 700;
    color: rgb(51, 51, 51);
    line-height: 32px;
    font-style: normal;
    padding: 8px;
    float: left;
}

#home .nav .nav-list ul {
    list-style: none;
}

#home .nav .nav-list li {
    float: right;
    padding: 15px 0 15px 0;
    overflow: hidden;
}

#home .nav .nav-list a {
    text-decoration: none;
    font-size: 16px;
    color: rgb(51, 51, 51);
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

#home .nav .nav-list .active {
    position: relative;
    padding-right: 0;
}

#home .nav .nav-list .active::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #7f22fe;
    position: absolute;
    top: 37px;
    left: 0;
}

#home .nav .nav-list .active a {
    color: #7f22fe;
}

#home .nav .nav-list .not-active {
    margin-left: 35px;
    position: relative;
}

#home .nav .nav-list .not-active::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #7f22fe;
    position: absolute;
    top: 37px;
    right: 100%;
    transition: transform 0.3s;
}

#home .nav .nav-list .not-active a:hover {
    color: #7f22fe;
}

#home .nav .nav-list .not-active:hover::after {
    transform: translateX(100%);
}

/* Hero Section */

#home .hero-section {
    margin-top: 10%;
    height: 100vh;
    position: relative;
}

#home .hero-section .hero-img {
    width: 45%;
    padding: 15px;
    border: 2px solid #E0E3E7;
    border-radius: 15px;
    float: left;
    position: relative;
}

#home .hero-section .hero-img img {
    width: 100%;
    border-radius: 15px;
}

#home .hero-section .hero-img::after {
    content: "-12% OFF";
    width: 15%;
    height: 20px;
    padding: 3px;
    background-color: #8E51FF;
    position: absolute;
    top: 35px;
    left: 30px;
    border-radius: 15px;
    color: white;
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
}

#home .hero-section .hero-data {
    float: left;
    width: 47.4%;
    margin-left: 50px;
}

#home .hero-section .product-status {
    float: left;
    color: #fff;
    width: 100%;
    margin: 20px 0;
}

#home .hero-section .product-status span {
    background-color: #A684FF;
    padding: 5px 7px;
    border-radius: 13px;
    font-weight: 600;
    font-size: 14px;
    font-style: normal;
    line-height: 20px;
}

#home .hero-section .hero-data .text h2 {
    color: rgb(51, 51, 51);
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    padding: 10px 0;
}

#home .hero-section .hero-data .text h2 span {
    color: #8e51ff;
}

#home .hero-section .hero-data .text p {
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    color: rgb(51, 51, 51);
    padding: 10px 0;
    line-height: 33px;
}

#home .hero-section .hero-data .prices {
    padding: 20px 0;
}

#home .hero-section .hero-data .prices span {
    margin-right: 20px;
}

#home .hero-section .hero-data .prices .price {
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    color: rgb(51, 51, 51);
    font-style: normal;
}

#home .hero-section .hero-data .prices .discount {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: rgb(51, 51, 51);
    text-decoration: line-through;
}

#home .hero-section .hero-data .prices .saving {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #e7000b;
    padding: 5px;
    border-radius: 20px;
    background-color: #FFE2E2;
}

#home .hero-section .hero-data .description-of-payment {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

#home .hero-section .hero-data .add-cart-button {
    width: 100%;
    padding: 13px;
    background-color: #8E51FF;
    border-radius: 30px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    font-style: normal;
    cursor: pointer;
    border: 0px;
    transition: scale 0.3s;
    margin-top: 30px;
    /* position: relative; */
}

#home .hero-section .hero-data .add-cart-button:hover {
    scale: 1.06;
}

#home .hero-section .hero-data .add-cart-button img {
    width: 20px;
    scale: 1;
    margin-right: 10px;
    /* position: absolute;
    left: 30%;
    top: 17px; */
}

#home .hero-section .hero-data .wishlist-button {
    width: 100%;
    padding: 13px;
    margin-top: 10px;
    border-radius: 30px;
    color: rgb(51, 51, 51);
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    font-style: normal;
    text-align: center;
    cursor: pointer;
    border: 1px solid #D1D5DC;
    transition: scale 0.3s;
}

#home .hero-section .hero-data .wishlist-button:hover {
    scale: 1.06;
}

#home .hero-section .hero-data .wishlist-button img {
    width: 20px;
    scale: 1;
    margin-right: 10px;
}

#home .hero-section .hero-data .wishlist-button p {
    float: left;
    transform: translateX(155px);
    scale: 1;
}

/* specifications section */

#specifications {
    background-color: #F7F5FF;
}

#specifications .title {
    text-align: center;
}

#specifications .title h2 {
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    padding: 70px 0 20px 0;
}

#specifications .title h2 span {
    color: #8E51FF;
}

#specifications .title p {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    padding-bottom: 60px;
}

/* table of comparison */

#specifications .comparison {
    padding: 30px 0;
    margin: 0 0 30px 0;
    border: 2px solid #D1D5DC;
    border-radius: 15px;
    background-color: #FFFFFF;

}

#specifications .inner {
    padding: 0 15px;
}

#specifications .comparison img {
    width: 20px;
    padding-right: 8px;
}

#specifications .comparison .stars img {
    width: 20px;
    padding-right: 0px;
    padding-bottom: 3px;
}

#specifications .comparison .inner table {
    width: 100%;
    border-collapse: collapse;
    position: relative;
}

#specifications .comparison .inner table::after {
    content: "";
    width: 19%;
    height: 100%;
    background-color: #7008e717;
    position: absolute;
    top: 0;
    left: 23%;
    border-radius: 15px;
}

#specifications .comparison .inner table .left-col {
    text-align: left;
    width: 23%;
}

#specifications .comparison .inner table th,
#specifications .comparison .inner table td {
    width: 19%;
    text-align: center;
    border-bottom: 1px solid #ddd;
    padding: 20px;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
    color: rgb(51, 51, 51);
}

#specifications .comparison .inner table th {
    border-bottom: 2px solid #ddd;

}

#specifications .comparison .inner table .no-border td {
    border-bottom: none;
}

#specifications .comparison .inner table thead .left-col {
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    line-height: 28px;
    color: rgb(51, 51, 51);
}

#specifications .comparison .inner table thead th,
#specifications .comparison .inner table .no-border .special-weight {
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    line-height: 28px;
    color: rgb(51, 51, 51);
}

#specifications .comparison .inner table thead th span {
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    color: #6a7282;
}

#specifications .comparison .inner table thead th .burble-col {
    color: #7008E7;
    display: inline-block;
}

#specifications .comparison .inner table thead th .light-font {
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
}

#specifications .comparison .inner table tbody tr td .our-product {
    color: #fff;
    background-color: #8E51FF;
    padding: 4px 8px;
    border-radius: 18px;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    line-height: 20px;
}

#specifications .comparison .inner table tbody tr .orange {
    color: #e55c00;
}

#specifications .comparison .inner table tbody tr .burble-text {
    color: #7008e7;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    font-style: normal;
}

#specifications .comparison .inner table img,
.hero-section img {
    transform: translateY(4px);
}

#specifications .comparison .inner table tbody tr td .special-font {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

#specifications .comparison .inner table tbody tr .diff-size {
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
}